/*Mobile Ver*/

body,
li,
div {
  cursor: default;
}
a {
  cursor: pointer;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.mrsB-title {
  font-size: 6.5vw;
  line-height: 5vw;
}
.mrsB-sub {
  font-size: 2.7vw;
  line-height: 2.5vw;
}
.mrsB-destext {
  font-size: 2.7vw;
}
.mrsB-readmore {
  font-size: 2.7vw;
  cursor: pointer;
}
.see-more-button,
.see-more-button2 {
  width: 12vw;
  height: 8vw;
}
.see-more-button:hover,
.see-more-button2:hover {
  width: 16vw;
  cursor: pointer;
}

#PreloadAnimation {
  width: 100vw;
  height: 38vh;
  align-self: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10vh;
}
#Loop_Box_Circle {
  width: 10vw;
  height: 10vw;
  margin-right: 0;
}

.decor1 {
  width: 50vw;
  height: 50vw;
  top: -2vw;
  left: -13vw;
  filter: blur(10vw);
}
.decor2 {
  width: 75vw;
  height: 75vw;
  top: 75vh;
  right: -18vw;
  filter: blur(10vw);
}
.decor-img1 {
  width: 30vw;
  left: -6vw;
  top: 16vh;
}

.decor-img2 {
  width: 22vw;
  right: 1vw;
  top: 90vh;
}

.Box-Intro {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}
.third {
  width: 43%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5vh;
  filter: drop-shadow(1vw 1vw 2vw #00000049);
}

.menu-section {
  right: -33vw;
}

.menu-layout {
  width: 33vw;
  height: 101vh;
  backdrop-filter: blur(2vw);
  background: #ffffff9c;
  padding-top: 1.5vw;
  padding-bottom: 1vw;
  overflow: hidden;
  #nav-place {
    font-size: 2.7vw;
  }

  #greeting p {
    font-size: 3vw;
    line-height: 3.5vw;
  }

  #white-bar {
    border-radius: 3vw;
  }

  #trick-line2 {
    height: 1fr;
    align-self: center;
    overflow: visible;
    margin-right: 0;
    margin-top: 30vh;
  }

  #nav-copyright {
    font-size: 1.6vw;
    text-align: center;
    position: relative;
    align-self: center;
    overflow: visible;
  }
}
.third {
  width: 100%;
  height: auto;
}

.funny-pic {
  width: 55vw;
  height: 55vw;
  margin-left: 0;
  margin-top: -3vw;
}

.funny-pic::before {
  width: 82%;
  height: 82%;
}

.Intro {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Intro-text1,
.Intro-text,
.Intro-text2,
.subs {
  text-align: center;
}
.Intro-text1 {
  font-size: 3vw;
}
.Intro-text,
.Intro-text2 {
  font-size: 6.5vw;
  line-height: 8vw;
}
.Intro-text2 {
  margin-bottom: 5vh;
}

.subs {
  font-size: 2.7vw;
}
.prj-button {
  width: 24vw;
  height: 7vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

.prj-title {
  font-size: 1.8vw;
}

.prj-button:hover {
  cursor: none;
  width: 30vw;
}
.socials {
  align-items: flex-end;
  justify-content: flex-end;
  gap: 3vw;
}
#ast-nav,
#beh-nav,
#fb-nav {
  cursor: pointer;
}
.behance-svg,
.behance-svg2 {
  height: 3vw;
  width: 6.1vw;
  transform: rotateY(-1vw);
}
.artstation-svg,
.artstation-svg2 {
  height: 3vw;
  width: 6.1vw;
}
.fb-svg {
  height: 3vw;
  width: 6.1vw;
}
.connector-holder {
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  padding-left: 13vw;
}

.section-connector {
  font-size: 6.5vw;
}
.sub-connector {
  font-size: 2.7vw;
}
.section-connector::before {
  font-size: 20vw;
}

.section1 {
  padding-top: 0vw;
  box-shadow: 2vw 4vw 6vw 0 #00000059;
  width: 88vw;
  backdrop-filter: blur(0.6vw);
}

.section2_Mobile {
  display: flex;
  width: 88vw;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
  z-index: 5;
  transform-style: unset;
  perspective: unset;
  position: relative;

  .section2 {
    transform-style: unset;
    height: 120vw;
    box-shadow: 2vw 4vw 6vw 0 #00000059;
    width: 88vw;
  }

  .pic-holder {
    width: 62%;
    height: 100%;
  }
  .pic-holder div {
    display: none;
  }

  .pic-holder div:nth-last-child(1) {
    display: inline;
    width: 100%;
    height: 100%;
    background-position: center;
  }
  .mrsB-des #fillter {
    height: 62%;
    position: relative;
  }
  .mrsB-des {
    margin-top: -3vw;
    transform-style: unset;
  }
  .mrsB-tag {
    transform-style: unset;
  }
  .name-tag {
    height: 33%;
    padding-top: 0;
  }
  .mrsB-title {
    transition: all 0.3s ease-out, margin-top 0.1s ease-out;
    font-size: 6.5vw;
    letter-spacing: 1vw;
  }
  .mrsB-sub {
    margin-top: 0.3vw;
    font-size: 2.7vw;
    line-height: 3vw;
    width: 100%;
  }
  .mrsB-destext {
    background: #e9e7e7;
    margin-top: 2vh;
    height: 90%;
    font-size: 2.7vw;
    overflow-y: scroll;
    margin-bottom: 1vh;
    padding: 1vw;
    border-radius: 1vw;
  }
  .mrsB-destext::-webkit-scrollbar {
    width: 2px;
  }
  .mrsB-destext::-webkit-scrollbar-thumb {
    background: #656565;
  }

  .mrsB-readmore {
    font-size: 2.7vw;
    cursor: pointer;
    margin-left: 1vw;
  }

  .see-more-button {
    margin-top: 3vh;
    width: 12vw;
    height: 8vw;
    position: relative;
    background: #ffffffbe;
    align-self: center;
  }

  .see-more-button:hover,
  .see-more-button2:hover {
    background: #ffffff;
    width: 16vw;
    cursor: pointer;
  }
}

.section3_Mobile {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .sec3_mobile_layout {
    position: relative;
    display: grid;
    grid-template-columns: 88vw 88vw 15vh 15vh 88vw 100vw;
    grid-template-rows: 100%;
    flex-direction: unset;
    width: 100vw;
    height: 45vh;
    gap: 2vw;
    margin-top: 150px;
    transition: all 0.12s 0s ease-out;
    overflow-x: scroll;
    transform: none;
    padding-right: 6vw;
    padding-left: 6vw;
    scroll-padding: 0px 6vw 0px 6vw;
    scroll-snap-type: x mandatory;
  }

  #pic {
    align-self: center;
    height: 80%;
    width: 100%;
    overflow: visible;
    background-position: center;
    scroll-snap-align: center;
  }
  #pic:nth-child(3),
  #pic:nth-child(4) {
    height: 80%;
    width: 15vh;
  }

  .centaurus-brand2 {
    box-shadow: -0.1vw 0.1vw 1vw 0 #0000004d;
  }
  #ctr-logo {
    position: relative;
    margin-top: 2vh;
    margin-bottom: 6vh;
    width: 20vw;
    padding-bottom: 2vh;
  }
  #ctr_logo_svg {
    width: 13vw;
    height: 13vw;
  }
  #CTR-title {
    font-size: 12vw;
  }
  #starro {
    margin-top: 6vh;
    width: 3vw;
    height: 3vw;
    margin-bottom: 1vh;
  }
  #ctr-des {
    font-size: 2.7vw;
    margin-bottom: 1vh;
  }
  .mrsB-sub {
    font-size: 2.7vw;
  }
  #ctrss {
    margin-top: 6vh;
  }
  .mrsB-destext {
    font-size: 2.7vw;
    text-align: center;
  }
  .mrsB-readmore {
    font-size: 2.7vw;
    cursor: pointer;
  }

  .see-more-button2 {
    margin-top: 3vh;
    width: 12vw;
    height: 8vw;
    position: relative;
    background: #ffffffbe;
  }

  .see-more-button:hover,
  .see-more-button2:hover {
    background: #ffffff;
    width: 16vw;
    cursor: pointer;
  }
}

.section4_Mobile {
  position: relative;
  box-sizing: border-box;
  width: 88vw;
  height: auto;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  box-shadow: -2vw 4vw 6vw 0 #00000059;
  border-radius: 1.5vw;

  .katun-hold {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .katun-vid {
    width: 100%;
    border-radius: unset;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .katun-des {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    border-left: 0.17vw solid #ffffff36;
    right: unset;
    box-shadow: unset;
    border-top-right-radius: unset;
    padding: 3vw;
  }
  .play-bttn {
    top: 15%;
    left: unset;
  }
  .mrsB-title {
    font-size: 6.5vw;
    line-height: 9vw;
    margin-bottom: 1vw;
  }
  .see-more-button {
    background: #e9e7e7;
  }
}

.section5_Mobile {
  transition: all 1.3s 0s cubic-bezier(0.25, 0, 0, 1);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;

  .sec5-layout {
    margin-top: 15vh;
    align-items: flex-start;
  }
  .sec5-description {
    margin-top: 5vh;
    padding-left: 6vw;
    padding-right: 6vw;
  }

  #darko {
    margin-top: 65vw;
  }
  #Dz-text {
    margin-top: 45%;
  }
  #Dz-text svg {
    width: 6.8vw;
    height: 10vw;
  }

  #dz-title {
    font-size: 3.5vw;
  }
  .sub-title {
    font-size: 4vw;
    height: 4.2vw;
    letter-spacing: -0.8vw;
  }
  #blackbar {
    background: $secondaryColor;
    height: 100%;
    width: 3px;
  }

  .sec5-layout #dz-sub {
    animation: none;
  }
  .sec5-layout #sub-t {
    animation: tilout2 3s forwards;
    letter-spacing: 0;
  }

  @keyframes hubout2 {
    0% {
      height: 0;
    }
    40% {
      height: 4.2vw;
    }
    60% {
      height: 4.2vw;
    }
    100% {
      height: 4.2vw;
    }
  }

  @keyframes tilout2 {
    0% {
      width: 0vw;
      height: 0;
      letter-spacing: -1.6vw;
    }
    40% {
      width: 0vw;
      height: 3vw;
      letter-spacing: -1.6vw;
    }
    60% {
      width: 0vw;
      letter-spacing: -1.6vw;
    }
    100% {
      width: 27vw;
      letter-spacing: 0;
    }
  }
  .sec5-layout:hover #dz-sub {
    height: 0;
  }
  .sec5-layout:hover #sub-t {
    width: 0;
    letter-spacing: -0.8vw;
  }
  .sec5-desBox {
    width: auto;
  }
}

.section6_Mobile {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 0;
  cursor: default;

  #wave-decor {
    opacity: 20%;
    width: 45vw;
    height: 45vw;
    margin-top: -19vw;
    right: -6vw;
    top: 0vw;
  }

  .sec6-layout {
    margin-top: 1vh;
    width: 100vw;
  }

  .sec6-layout2 {
    margin-right: 6vw;
  }
  #circle-decor {
    width: 75vw;
    height: 75vw;
    top: -20vw;
    left: -18vw;
  }

  #text-group {
    margin-left: 0;
  }
  #gr1 {
    left: unset;
    align-self: flex-end;
    margin-top: 32vw;
    align-items: flex-end;
    text-align: end;
    right: 12vw;
    width: 100vw;
    padding-left: 18vw;

    #des1 {
      margin-right: -6vw;
    }

    #line_round {
      height: 22vw;
      transform: rotate(90deg) translateX(1vw) translateY(-2vw);
      transform-origin: 50% 100%;
    }
  }
  #line_round {
    width: 1px;
  }
  #line_round::after {
    width: 2vw;
    height: 2vw;
  }
  #JS-name {
    font-size: 4.6vw;
  }
  #CV-name {
    font-size: 2.7vw;
  }
  .formbox {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .formsvg {
    width: 100%;
    max-width: 100%;
    padding: 2vw;
    background: #d9d7d7;
    margin-bottom: 1vw;
  }

  .formbox:nth-child(3) {
    align-items: flex-start;
    .formsvg {
      flex-direction: row;
      justify-content: center;
      gap: 3vw;
    }
    #dsn-illus {
      width: 15vw;
      height: 15vw;
      margin-right: 0;
    }
    #wil {
      font-weight: 600;
      font-size: 3.3vw;
      letter-spacing: 2vw;
      text-align: center;
      margin-left: 5vw;
      margin-right: 0;
    }
    .dsn-1 {
      stroke-width: 8px;
    }
  }

  .formtext {
    width: 100%;
  }

  #svgform2 {
    flex-direction: column;
  }
  .formbox:nth-child(7) {
    text-align: end;

    .formsvg {
      flex-direction: row-reverse;
      justify-content: center;
      gap: 3vw;
    }
    #book-svg {
      width: 15vw;
      height: 15vw;
      margin-right: 0;
      margin-left: 3vw;
    }
    .bok-1 {
      stroke-width: 8px;
    }
    #book-title {
      font-weight: 400;
      line-height: 3.5vw;
      font-size: 3.3vw;
      letter-spacing: 2vw;
      text-align: center;
      margin-right: 0;
    }
  }

  #des1 {
    font-size: 2.7vw;
  }
  #des2 {
    font-size: 2.7vw;
  }
  #gr2 {
    width: 88%;
    margin-left: 6vw;
    #line_round {
      height: 13vw;
    }
  }
  #Love-name {
    width: 70%;
    font-size: 4.6vw;
    line-height: 5vw;
  }
  #CV2-name {
    font-size: 2.7vw;
    margin-top: 0.5vw;
  }
  #line_cnt {
    width: 38%;
  }
  #line_cnt2 {
    width: 38%;
  }

  #gr3 {
    #line_round {
      margin-left: 13vw;
      transform: rotate(-90deg) translateX(2vw) translateY(-2vw);
      transform-origin: 50% 100%;
    }
    #skill-name {
      font-size: 4.6vw;
    }

    .appitem {
      height: auto;
      margin-bottom: 2vw;
    }

    .app-list {
      flex-direction: column;
    }
    .row {
      width: 100%;
    }
    .logo {
      border: 1px solid $secondaryColor;
      width: 10vw;
      height: 10vw;
      font-size: 4vw;
    }
    .level {
      width: 80%;
      height: 10vw;
    }

    .level-bar {
      height: 5px;
    }
    .bar {
      height: 5px;
    }
    #percent-bar,
    #percent-bar-60,
    #percent-bar-50 {
      height: 2px;
    }
    .name-hold {
      height: 65%;
    }

    .app-name {
      font-family: "Poppins";
      font-size: 2.7vw;
    }
    #subfix1::after,
    #subfix2::after,
    #subfix3::after,
    #subfix4::after {
      font-size: 2.7vw;
    }
    .percentage {
      font-size: 2.7vw;
      font-weight: 600;
    }
    .percentage::after {
      font-size: 1.7vw;
    }
  }
}

.section7_Mobile {
  display: flex;
  position: relative;

  .sec7-layout {
    margin-top: 2vw;
    padding-top: 10vw;
    border-bottom: 0.6vw inset #ffffff6e;
  }
  .sec7-layout::after {
    width: 0.4vw;
  }

  #sec7-heading {
    height: 13vw;
  }

  #find-me {
    font-size: 4.6vw;
  }
  #social-list {
    gap: 3vw;
  }

  #sec7-main {
    margin-top: 6vw;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2vw;
  }
  #main-col {
    width: 100%;
  }
  #find-me2 {
    font-size: 2.7vw;
    color: $secondaryColor;
    line-height: 3vw;
    margin-top: 2vw;
  }
  #Email,
  #Email a {
    font-size: 3vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  #name,
  #mail,
  #subject {
    height: 10vw;
  }
  .name-input label {
    height: 100%;
    width: 82%;
    font-size: 2.3vw;
    border-bottom: 1px solid $secondaryColor;
  }
  .name-input input,
  #message textarea {
    font-size: 2.7vw;
  }
  #message {
    height: 20vw;
  }
  #message textarea {
    margin-top: 4vw;
  }
  .name-input:nth-child(2) label {
    width: 88%;
  }

  .name-input:nth-child(3) label {
    width: 77%;
  }
  .name-input:nth-child(4) label {
    width: 85%;
  }
  .name-input:hover .name-label {
    color: #cb356b;
  }

  .name-input input:focus + label::after,
  .name-input input:valid + label::after {
    width: 100%;
  }
  .name-input input:focus + label,
  .name-input input:valid + label {
    font-size: 1.6vw;
    width: 100%;
  }
  .name-input input:focus + label span,
  .name-input input:valid + label span {
    transform: translateY(-4vw);
  }

  #message textarea:focus + label::after,
  #message textarea:valid + label::after {
    width: 100%;
  }

  #message textarea:focus + label span,
  #message textarea:valid + label span {
    transform: translateY(-8vw);
  }
  #message textarea:focus + label,
  #message textarea:valid + label {
    font-size: 1.6vw;
    width: 100%;
  }

  .submit-button {
    height: 6vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .submit-button::after {
    font-size: 2.7vw;
  }
  .submit-button::before {
    font-size: 2.7vw;
    letter-spacing: 0.3vw;
  }
  .submit-button:hover {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  #submit-confirm {
    width: 6vw;
    height: 3vw;
    stroke-dasharray: 45vw;
    stroke-dashoffset: 45vw;
  }
}

.Footer_Mobile {
  position: relative;
  display: flex;
  left: 0;
  transition: all 0.8s 0s cubic-bezier(0.25, 0, 0, 1);

  .footer-layout {
    width: 100vw;
    min-height: 30vw;
    margin-top: 12vw;
    padding-top: 4vw;
    padding-bottom: 6vw;
    padding-left: 7vw;
    padding-right: 7vw;
  }
  .column-holder {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    gap: 5vw;
  }
  .footer-heading {
    font-size: 2.7vw;
  }
  .footer-content {
    font-size: 2.7vw;
  }
  #copyright {
    font-size: 2.3vw;
    letter-spacing: 0.06vw;
  }
  #footer-col {
    width: 100%;
  }
  #footer-col:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-bottom: 5vw;
  }
}

.NAV-Elements {
  width: 100vw;
  height: 15vw;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 12vh;

  .Name {
    font-size: 4.6vw;
    height: 7vw;
  }

  .Name span {
    line-height: 7vw;
  }
  .Name span:nth-child(2) {
    font-size: 2.4vw;
    text-transform: uppercase;
    line-height: 3.5vw;
    margin-top: 0;
  }
  .Name span:nth-child(3) {
    font-size: 2.4vw;
    line-height: 2vw;
    letter-spacing: 0.9vw;
  }

  #top-nav-link {
    display: none;
  }
  .POP-up {
    width: 6vw;
    cursor: pointer;
  }
  .button-line {
    cursor: pointer;
    height: 3px;
    transform: translateY(-1vw) rotate(0);
  }
  .button-line:nth-child(2) {
    transform: translateY(1vw) rotate(0);
  }
}
