/*Mobile Ver*/

body,
a,
li,
div {
  cursor: default;
}

html {
  overflow-x: hidden;
}
.mrsB-title {
  font-size: 4.6vw;
  line-height: 5vw;
}
.mrsB-sub {
  font-size: 2vw;
  line-height: 2.5vw;
}
.mrsB-destext {
  font-size: 2vw;
}
.mrsB-readmore {
  font-size: 2vw;
  cursor: pointer;
}
.see-more-button,
.see-more-button2 {
  width: 12vw;
  height: 8vw;
}
.see-more-button:hover,
.see-more-button2:hover {
  width: 16vw;
  cursor: pointer;
}

.Box-Intro {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}
.third {
  width: 43%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5vh;
  filter: drop-shadow(1vw 1vw 2vw #00000049);
}

.Intro {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Intro-text1,
.Intro-text,
.Intro-text2,
.subs {
  text-align: center;
}
.Intro-text1 {
  font-size: 3vw;
}
.Intro-text,
.Intro-text2 {
  font-size: 4.6vw;
  line-height: 5vw;
}
.Intro-text2 {
  margin-bottom: 5vh;
}

.subs {
  font-size: 2vw;
}
.prj-button {
  width: 23vw;
  height: 7vw;
}

.prj-title {
  font-size: 1.8vw;
}

.prj-button:hover {
  cursor: none;
  width: 30vw;
}
.socials {
  align-items: flex-end;
  justify-content: flex-end;
  gap: 3vw;
}
.behance-svg {
  height: 3vw;
  width: 6.1vw;
  transform: rotateY(-1vw);
}
.artstation-svg,
.artstation-svg2 {
  height: 3vw;
  width: 6.1vw;
}
.fb-svg {
  height: 3vw;
  width: 6.1vw;
}
.connector-holder {
  flex-direction: column;
  align-items: flex-start;
}

.section-connector {
  font-size: 4.6vw;
}
.sub-connector {
  font-size: 2vw;
}
.section-connector::before {
  font-size: 20vw;
}

.section2_Mobile {
  display: flex;
  width: 80vw;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
  z-index: 5;
  transform-style: unset;
  perspective: unset;

  .section2 {
    transform-style: unset;
    height: 90vw;
  }

  .pic-holder {
    width: 45.7vw;
    height: fit-content;
  }
  .pic-holder div {
    display: none;
  }

  .pic-holder div:nth-last-child(1) {
    display: inline;
    width: 45.7vw;
    height: 90vw;
    background-position: center;
  }
  .mrsB-des #fillter {
    height: 62%;
    position: relative;
  }
  .mrsB-des {
    margin-top: -3vw;
    transform-style: unset;
  }
  .mrsB-tag {
    transform-style: unset;
  }
  .name-tag {
    height: 33%;
    padding-top: 0;
  }
  .mrsB-title {
    font-size: 4.6vw;
  }
  .mrsB-sub {
    margin-top: 0.3vw;
    font-size: 2vw;
    line-height: 2.5vw;
    width: 15vw;
  }
  .mrsB-destext {
    background: #e9e7e7;
    margin-top: 2vh;
    height: 90%;
    font-size: 2vw;
    overflow-y: scroll;
    margin-bottom: 1vh;
    padding: 1vw;
    border-radius: 1vw;
  }
  .mrsB-destext::-webkit-scrollbar {
    width: 2px;
  }
  .mrsB-destext::-webkit-scrollbar-thumb {
    background: #656565;
  }

  .mrsB-readmore {
    font-size: 2vw;
    cursor: pointer;
    margin-left: 1vw;
  }

  .see-more-button {
    margin-top: 3vh;
    width: 12vw;
    height: 8vw;
    position: relative;
    background: #ffffffbe;
    align-self: center;
  }
  .see-more-button svg {
    width: 4vw;
    height: 4vw;
  }
  .see-more-button .sls-1 {
    stroke-width: 30px;
  }

  .see-more-button:hover,
  .see-more-button2:hover {
    background: #ffffff;
    width: 16vw;
    cursor: pointer;
  }
}

.section3_Mobile {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .sec3_mobile_layout {
    position: relative;
    display: grid;
    grid-template-columns: 74vw 74vw 15vh 15vh 74vw 87vw;
    grid-template-rows: 100%;
    flex-direction: unset;
    width: 100vw;
    height: 45vh;
    gap: 2vw;
    margin-top: 150px;
    transition: all 0.12s 0s ease-out;
    overflow-x: scroll;
    transform: none;
    padding-right: 13vw;
    padding-left: 13vw;
    scroll-padding: 0px 13vw 0px 13vw;
    scroll-snap-type: x mandatory;
  }

  #pic {
    align-self: center;
    height: 80%;
    width: 74vw;
    overflow: visible;
    background-position: center;
    scroll-snap-align: center;
  }
  #pic:nth-child(3),
  #pic:nth-child(4) {
    height: 80%;
    width: 15vh;
  }

  .centaurus-brand2 {
    box-shadow: -0.1vw 0.1vw 1vw 0 #0000004d;
  }
  #ctr-logo {
    position: relative;
    margin-top: 2vh;
    margin-bottom: 6vh;
    width: 20vw;
    padding-bottom: 2vh;
  }
  #ctr_logo_svg {
    width: 13vw;
    height: 13vw;
  }
  #CTR-title {
    font-size: 12vw;
  }
  #starro {
    margin-top: 6vh;
    width: 3vw;
    height: 3vw;
    margin-bottom: 1vh;
  }
  #ctr-des {
    font-size: 3.2vw;
    margin-bottom: 1vh;
  }
  .mrsB-sub {
    font-size: 2vw;
  }
  #ctrss {
    margin-top: 6vh;
  }
  .mrsB-destext {
    font-size: 2vw;
    text-align: center;
  }
  .mrsB-readmore {
    font-size: 2vw;
    cursor: pointer;
  }

  .see-more-button2 {
    margin-top: 3vh;
    width: 12vw;
    height: 8vw;
    position: relative;
    background: #ffffffbe;
  }
  .see-more-button2 svg {
    width: 4vw;
    height: 4vw;
  }
  .see-more-button2 .sls-1 {
    stroke-width: 30px;
  }

  .see-more-button:hover,
  .see-more-button2:hover {
    background: #ffffff;
    width: 16vw;
    cursor: pointer;
  }
}

.section4_Mobile {
  position: relative;
  box-sizing: border-box;
  width: 74vw;
  height: auto;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  box-shadow: -2vw 2vh 4vw 0 #0000003a;
  border-radius: 1.5vw;

  .katun-hold {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .katun-vid {
    width: 100%;
    border-radius: unset;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .katun-des {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    border-left: 0.17vw solid #ffffff36;
    right: unset;
    box-shadow: unset;
    border-top-right-radius: unset;
    padding: 3vw;
  }
  .play-bttn {
    top: 15%;
    left: unset;
  }
  .mrsB-title {
    line-height: 7vw;
  }
  .see-more-button {
    background: #e9e7e7;
  }
}
